img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 20px;

}

.elements{
    height: 300px;
    width:350px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.elemets{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
body{
    background-color: rgb(228, 48, 39);
    

}
.main{
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
